// Footer styles
.footer {
    width: 100%;
    height: auto;
    padding: 66px 0 24px 0;

    @include responsive(desktop) {
        padding: 73px 0 38px 0;
        
    }

    &__logo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include responsive(desktop) {
            margin-top: 5px;
            width: 384px;
        }
    }

    &__logo {
        @include coverImage(131px, 16px);

        @include responsive(desktop) {
            @include coverImage(178px, 21px);
        }

    }

    &__logo-partners {
        @include coverImage(140px, 18px);

        @include responsive(desktop) {
            @include coverImage(187px, 24px);
        }
    }

    &__inner {
        width: 100%;

        @include responsive(desktop) {  
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__trademark {
        display: flex;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @include responsive(desktop) {
            font-size: 24px;
        }

        @include responsive(mobile) {
            margin-top: 34px;
        }

        .emoji {
            width: 29px;
            height: 29px;
            margin-left: 7px;
        }
    }
}