// form-section styles
.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include responsive(desktop) {
        height: 100%;
        min-height: 464px;
        padding: 24px 24px 28px 24px;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $orange;
        border-radius: 16px;
    }

    @include responsive(1150px) {
        align-items: center;
        justify-content: center;
    }

    @include responsive(mobile) {
        align-items: flex-start;
    }

    &__title {
        width: 298px;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        position: relative;

        @include responsive(desktop) {
            width: 655px;
            font-size: 64px;  
        }

        &_d {
            display: none;

            @include responsive(desktop) {
                display: inline;
            }
        }

        &_m {
            display: inline;

            @include responsive(desktop) {
                display: none;
            }
        }

        img {
            width: 185px;
            transform: rotate(-5.8deg);
            position: absolute;
            left: 37px;
            bottom: -10px;

            @include responsive(desktop) {
                width: 350px;
                left: 91px;
                bottom: -12px;
                width: 350px;
            }
        }

        .word {
            position: absolute;
            left: 225px;

            @include responsive(desktop) {
                left: 453px;
            }
        }
    }

    .emoji.emoji-peace {
        width: 152px;
        height: 152px;
        transform: rotate(10.94deg);
        position: absolute;
        left: 485px;
    }

    // Final OdVU styles
    &_odvu {

        @include responsive(desktop) {
            min-height: 472px;
        }
        
        .form-section__title {
            img {
                width: 150px;
                left: 140px;
                transform: rotate(-5.3deg);
                
                @include responsive(desktop) {
                    width: 262px;
                    left: 130px;
                    transform: rotate(-8.88deg);
                }
            }
        }

        .emoji.emoji-peace {
            top: 41px;
            left: 469px;
        }
    }

    // English WU styles
    &_en-wu {

        @include responsive(desktop) {
            min-height: 472px;
        }

        .form-section__title {
            img {
                width: 179px;
                left: 117px;
                bottom: -12px;
                transform: rotate(-5.19deg);
                
                @include responsive(desktop) {
                    width: 326px;
                    left: 239px;
                    bottom: -13px;
                }
            }
        }

        .form__title_no-step {
            display: none;

            @include responsive(desktop) {
                display: block;
            }
        }

        .emoji.emoji-peace {
            top: 95px;
            left: 450px;

            @include responsive(mobile) {
                width: 95px;
                height: 95px;
                top: -30px;
                left: 179px;
            }
        }
    }

    // Math WU

    &_math-wu {

        @include responsive(desktop) {
            min-height: 472px;
        }

        .form-section__title {

            .desktop-br {
                display: none;

                @include responsive(desktop) {
                    display: inline;
                }
            }

            img {
                width: 179px;
                left: 117px;
                bottom: -8px;
                transform: rotate(-5.19deg);
                
                @include responsive(desktop) {
                    width: 326px;
                    left: 239px;
                    bottom: -13px;
                }
            }
        }

        .form__title_no-step {
            display: none;

            @include responsive(desktop) {
                display: block;
            }
        }

        .emoji.emoji-peace {
            top: 95px;
            left: 450px;

            @include responsive(mobile) {
                width: 95px;
                height: 95px;
                top: -90px;
                left: 219px;
            }
        }
    }

    &_math-odwu {

        @include responsive(desktop) {
            min-height: 472px;
        }

        img {
            width: 153px;
            left: 69px;
            bottom: -14px;
            transform: rotate(-6deg);
            
            @include responsive(desktop) {
                width: 270px;
                left: 137px;
                bottom: -16px;
            }
        }

        .form__title_no-step {
            display: none;

            @include responsive(desktop) {
                display: block;
            }
        }

        .emoji.emoji-peace {
            top: 262px;
            left: 376px;
        }
    }

    // English OdWU
    &_en-odwu {
        @include responsive(desktop) {
            min-height: 472px;
        }

        .form-section__title {
            img {
                width: 153px;
                left: 70px;
                bottom: -14px;
                transform: rotate(-6deg);
                
                @include responsive(desktop) {
                    width: 270px;
                    left: 138px;
                    bottom: -14px;
                }
            }
        }

        .form__title_no-step {
            display: none;

            @include responsive(desktop) {
                display: block;
            }
        }

        .emoji.emoji-peace {
            top: 95px;
            left: 450px;
        }
    }
}
