// sign-up-skysmart styles
.sign-up-skysmart {
    margin-top: 48px;

    @include responsive(desktop) {
        margin-top: 88px;
    }

    .form {
        @include responsive(mobile) {
            margin-top: 64px;
        }
    }

    .form-section {
        padding: 0;
        background-color: $yellow;

        &__title {

            @include responsive(desktop) {
                width: 576px;
            }

            img {
                left: 82px;
                bottom: -68px;
                width: 172px;
                transform: rotate(0deg);

                @include responsive(desktop) {
                    width: 323px;
                    bottom: -129px;
                    left: 85px;
                }
            }
        }        
    }

    .form__inputs {
        margin-top: 15px;
        
        @include responsive(desktop) {
            margin-top: 27px;
        }
    }

    .form__title_no-step {
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @include responsive(desktop) {
            font-size: 40px;
        }
    }
}